@view-transition {
  navigation: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input:not([name="description"]) {
  max-width: 50vw;
}

label:has(~ input[required]) {
  position: relative;
  width: fit-content;

  &:after {
    content: "*";
    position: absolute;
    top: 0;
    right: -1ch;
    color: red;
  }
}

button {
  max-width: fit-content;
}

section[data-endpoint] ~ section {
  max-height: 40vh;
}

article {
  position: relative;
}

#error,
#message {
  position: absolute;
  right: 0;
  margin-right: 2rem;
}

#error {
  bottom: 25%;
}

#message {
  bottom: 15%;
}

pre {
  max-height: 40vh;
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}

button {
  filter: drop-shadow(0 0 0.5rem var(--pico-background-color));
}

div[data-ids] {
  margin-bottom: 1rem;
  max-height: 20vh;

  button[data-update-ids] {
    width: fit-content;
    height: fit-content;
    padding: 2px 7px;
    border-radius: 999px;
    font-size: 0.6rem;
    display: inline-flex;
  }

  button[data-update-ids]:has(~ button[data-update-ids]:hover),
  button[data-update-ids]:hover ~ button[data-update-ids] {
    rotate: 180deg;
  }

  button[data-update-ids]:hover {
    transform: scale(2);
    color: white;
    border-color: white;
    transition: transform ease-out;
  }
}

.yes,
.yes2,
.yes3 {
  position: fixed;
  rotate: 270deg;
  text-orientation: sideways-right;
  background-color: greenyellow;
  filter: drop-shadow(0 0 0.5rem greenyellow);
  width: 1000px;
  margin: 0;
  padding: 0;
}

.yes {
  translate: 0px 500px;
  height: 300px;
}

.yes2,
.yes3 {
  height: 100px;
}

.yes2 {
  translate: -350px 500px;
}

.yes3 {
  translate: 350px 500px;
}

.form-container {
  width: auto;
}
.signup-form {
  display: flex;
  flex-grow: 1;
  gap: 1rem;
  flex-wrap: wrap;
}
.input-field {
  margin: 0;
  width: auto;
  flex-grow: 1;
}
.submit-button {
  margin: 0;
}
